<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School web</title>

    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">


    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <header>
        <div class="header-left">
           
          <img class='logo' src="https://images.cdn2.stockunlimited.net/preview1300/college-logo-design_1967984.jpg" alt="">
        </div>
        <div class="header-right">
           <ul>
            <li class="nav-item color">
              <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
              {% if not current_user.is_authenticated: %}
              <li class="nav-item color">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
              </li>
              <li class="nav-item color">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
              </li>
              <li class="nav-item color">
                <a class="nav-link" href="{{ url_for('register') }}">Campus life</a>
              </li>
              <li class="nav-item color">
                <a class="nav-link" href="{{ url_for('register') }}">Admissions</a>
              </li>
              <li class="nav-item color">
                <a class="nav-link" href="{{ url_for('register') }}">About Us</a>
              </li>
              {% else %}
             
              <li class="nav-link color">
                <a href="{{ url_for('send_email') }}">Change password</a>
              </li>
              <li class="nav-link color">
                <a href="#">units regitered</a>
              </li>
              <li class="nav-link color">
                <a href="#">fee statement</a>
              </li>
               <li class="nav-link color">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
              </li>
              {% endif %}
             
           </ul>
           <a href="#">
           <i class="fas fa-bars"></i>
           </a>
        </div>
        <div class="hamburger-menu">
           <ul>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
       
             {% if not current_user.is_authenticated: %}
             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Campus life</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Admissions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">About Us</a>
            </li>
             {% else %}
            
             <li class="nav-link">
               <a href="{{ url_for('send_email') }}">Change password</a>
             </li>
             <li class="nav-link">
               <a href="#">units regitered</a>
             </li>
             <li class="nav-link">
               <a href="#">fee statement</a>
             </li>
             <li class="nav-link">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
              </li>
             {% endif %}
           </ul>
           <a href="#" class="close">
           <i class="fas fa-times"></i>
           </a>
        </div>
     </header>

</head>
<body>

    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="static/main.js"></script>

</body>
</html>