{% include "header.html" %}
  <body>

    <!-- section one -->
     <div class="section-one">
      <div class="home-page">
        
        <!-- <div class="logo-container">
          <img class='logo' src="https://images.cdn2.stockunlimited.net/preview1300/college-logo-design_1967984.jpg" alt="">
        </div> -->
        <div class="image-container">
       
          <h1 class="school_name">Winter</h1>
          <h1 class="school_word">college</h1>
          <img class='home-img' src="https://images.pexels.com/photos/256395/pexels-photo-256395.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="img">
        </div>
      </div>

     </div>


     <!-- section two -->
     <div class="container section-two row">
      <div class="card border-secondary col-md-6 col-sm-12" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-secondary">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card border-secondary col-md-6 col-sm-12" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-secondary">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card border-secondary col-md-6 col-sm-12" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-secondary">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card border-secondary col-md-6 col-sm-12" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-secondary">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card border-secondary col-md-6 col-sm-12" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-secondary">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card border-secondary col-md-6 col-sm-12" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-secondary">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
     
              
     </div>


    <!-- <form method="POST">
      {{ form.select }}
      <input type="submit" value="Submit">
    </form> -->
    
    <script src="static/main.js"></script>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
  {% include "footer.html" %}
</html>